<?xml version="1.0"?>
<!--
/**
 * @author Sourcemash Team
 * @copyright Copyright (c) 2020 Sourcemash (https://www.sourcemash.com)
 * @package Sourcemash_LayeredNav
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!-- setup_version is not a module version -->
    <module name="Sourcemash_MagentoCrm" setup_version="1.0.0">
        <sequence>
            <module name="Sourcemash_Core"/>
            <module name="Magento_Backend" />
        </sequence>
    </module>
</config>
